<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Привязка TOKEN бота</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/adaptive.css}" href="/static/css/adaptive.css">
    <link rel="stylesheet" th:href="@{/css/noty.css}" href="/static/css/noty.css">
    <script src="/static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/static/js/script.js" th:src="@{/js/script.js}"></script>
    <script src="/static/js/link.js" th:src="@{/js/link.js}"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body class="full-width">
<div class="main gradient-bs full-width full-height flex flex-row align-items-start justify-center padding-20">
    <div class="flex flex-column gap-10 full-width align-items-center justify-center">
        <div class="flex flex-column gap-10 full-width align-items-center justify-center">
            <span class="main orange fs-24 text-center">AIF</span>
            <span class="main fs-20 text-center">Привязка TOKEN</span>
        </div>
        <input type="text" class="input fs-16 flex-1 back-static full-width input-skin-price height-40 border-radius-10" id="token"
               placeholder="Введите TOKEN"/>
        <div class="button gap-5 flex flex-row padding-10 back-static back block height-50 upper font-bold fs-16 border-[main-color] gradient-fresh-block full-width"
             id="link_button">Привязать
        </div>
    </div>
    <input type="hidden" th:value="${id}" id="bot_id"/>
</div>
</body>
</html>